<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapping.DownloadMapper">


    <select id="selectDownload" resultType="Download">
      SELECT * FROM download_links;
    </select>

    <update id="updateDownload" parameterType="Download">
      UPDATE download_links SET download_app=#{downloadApp}
    </update>
</mapper>