<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapping.GoodsDetailMapper">

  <select id="selectDetail" resultType="GoodsDetail" parameterType="int">
   select description,application_condition,activation_process FROM goods_detail where id=#{id}
  </select>



</mapper>