<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.mapping.kn_adminMapper" >

<select id="queryList" resultType="kn_admin" parameterType="int">
  SELECT  id,title,account FROM  kn_admin where id=#{id}
</select>

  
  <select id="queryListPhone" resultType="kn_admin" parameterType="String">

  SELECT id,title,phone,pwd,`level`,img,add_time,login_time FROM kn_admin where phone=#{phone}

  </select>

  <insert id="insertAndmin"  parameterType="kn_admin">
    INSERT INTO kn_admin (phone,add_time,login_time) VALUES(#{phone},#{add_time},#{login_time});
  </insert>


    <select id="countAndmin" resultType="int" parameterType="String">
        SELECT count(1) FROM kn_admin where phone=#{phone}
    </select>

    <select id="queryByid" resultType="kn_admin" parameterType="String">
      SELECT id FROM kn_admin where phone=#{phone}
    </select>
  <select id="queryByPhone" resultType="com.springmvc.pojo.kn_admin" parameterType="String">

    select id,pwd from kn_admin WHERE phone=#{phone};

  </select>

    <update id="UpdateLoginTime"  parameterType="kn_admin">
      UPDATE kn_admin SET login_time=#{login_time} WHERE id=#{id}
    </update>

</mapper>