<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.mapping.kn_adminMapper" >

<select id="queryList" resultType="kn_admin" parameterType="int">
  SELECT  id,title,account FROM  kn_admin where id=#{id}
</select>

  
  <select id="queryListPhone" resultType="kn_admin" parameterType="String">

  SELECT id,title,phone,pwd,`level`,img,add_time,login_time FROM kn_admin where phone=#{phone}

  </select>

  <insert id="insertAndmin"  parameterType="kn_admin">
    INSERT INTO kn_admin (phone,add_time,login_time,registered_source) VALUES(#{phone},#{addTime},#{loginTime},#{registeredSource});
  </insert>

  <!--删除商家账号-->
  <delete id="deletebyIdMerchant">
    DELETE FROM kn_admin where id=#{id} AND `level`=1
  </delete>
    <select id="countAndmin" resultType="java.lang.Integer" parameterType="String">
        SELECT count(1) FROM kn_admin where phone=#{phone}
    </select>

    <select id="queryByid" resultType="kn_admin" parameterType="String">
      SELECT id FROM kn_admin where phone=#{phone}
    </select>

  <select id="queryByPhone" resultType="com.springmvc.pojo.kn_admin" parameterType="String">

    select * from kn_admin WHERE phone=#{phone};

  </select>

    <update id="UpdateLoginTime"  parameterType="kn_admin">
      UPDATE kn_admin SET login_time=#{loginTime} WHERE id=#{id}
    </update>

  <!--自定义用户信息表分页.boyang-->
  <select id="queryListAdmin" parameterType="kn_admin" resultType="com.springmvc.pojo.DTO.knadmin2">
    select a.*,a.phone AS adminPhone from kn_admin a
    <where>
      `level`=1
      <if test="phone!=null and phone!='' and phone!=0 ">
        AND  phone  LIKE '%${phone}%'
      </if>
    </where>
  ORDER  BY login_time
  </select>

  <!--更新数据-->
  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.pojo.kn_admin">
    update kn_admin
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="registeredSource != null">
        registered_source = #{registeredSource,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="authenticationStatus != null">
        Authentication_Status = #{authenticationStatus,jdbcType=INTEGER},
      </if>
      <if test="enterpriseName != null">
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="authenticationMessage != null">
        authentication_message = #{authenticationMessage,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--通过手机号模糊查找信息-->
    <select id="selectPhoneList" parameterType="String" resultType="kn_admin">

    SELECT * FROM  kn_admin WHERE

         phone  LIKE '%${phone}%'

        AND	level=1  ORDER  BY login_time
    </select>
  <!--得到管理员列表-->
  <select id="selectManagementList" resultType="com.springmvc.pojo.DTO.knadmin2" parameterType="kn_admin" >
    SELECT a.* ,b.role_name FROM `kn_admin` a  JOIN role_info b ON a.level=b.id  and  b.parentId=3
    <if test="phone!=null and phone!='' ">
      AND  phone  LIKE '%${phone}%'
    </if>
ORDER BY login_time
  </select>

    <select id="selectUser" resultType="com.springmvc.pojo.kn_admin" parameterType="Integer">
      SELECT * FROM kn_admin WHERE id=#{id}
    </select>

  <!--根据查询会员信息-->
  <select id="selectIdOne" resultType="kn_admin" parameterType="int">
    SELECT  *FROM kn_admin where id=#{id}
  </select>

</mapper>