<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.mapping.kn_goodsMapper" >
<!--by-->
  <select id="getGoodsList" resultType="kn_goods">
    select * FROM kn_goods ORDER  BY `level` DESC
  </select>
  <!--* Description：得到商家产品列表
     *
     * @param , response, pageNo：当前页, pageSize：页容量,title:产品名称，Index1排序方式，propertyId产品属性，statusId审核状态-->
  <select id="queryGoodsList" parameterType="kn_goods" resultType="com.springmvc.pojo.kn_goods">
    select * from kn_goods
    <where>
      <if test="title!=null and title!='' ">
        AND  title  LIKE '%${title}%'
      </if>
      <if test="propertyId!=null and propertyId!='' ">
        AND  property_ids=#{propertyId}
      </if>
      <if test="status!=null and status!='' ">
        AND  status=#{status}
      </if>
      AND admin_id in(
      select t.id from kn_admin t where level=1 )
    </where>

    <if test="addTime!=null and addTime!='' ">
      ORDER BY add_time
    </if>
    <if test="click!=null and click!='' ">
      ORDER BY click DESC
    </if>
  </select>
  <select id="getDetailId" resultType="java.lang.Integer" parameterType="Integer">
    SELECT details_id FROM kn_goods WHERE id=#{id}


    </select>
    <!--模糊查找含有精选的商品-->
    <select id="queryByTagid" resultType="com.springmvc.pojo.kn_goods">
select g.* from kn_goods g WHERE tag_id LIKE '%4%'



  </select>

</mapper>