<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.mapping.KnGoodsMapper" >
<!--by-->
  <select id="getGoodsList" resultType="com.springmvc.pojo.KnGoods">
    select * FROM kn_goods ORDER  BY `level` DESC
  </select>
  <!--* Description：得到商家产品列表
     *
     * @param , response, pageNo：当前页, pageSize：页容量,title:产品名称，Index1排序方式，propertyIds产品属性，statusId审核状态-->
  <select id="queryGoodsList" parameterType="com.springmvc.pojo.KnGoods" resultType="com.springmvc.pojo.DTO.GoodsAttributeDto">
    select g.* ,b.title AS'propertyTitle',(case
    when g.status = 1  then '审核中'
    when g.status = 2 then '审核失败'
    when g.status = 3  then '审核通过'
    when g.status = 4  then '已上架'
    when g.status = 5  then '保存'
    end )statusName
    from kn_goods g  JOIN kn_property b ON g.property_ids=b.id
    <where>
      <if test="title!=null and title!='' ">
        AND  title  LIKE '%${title}%'
      </if>
      <if test="propertyIds!=null and propertyIds!='' ">
        AND  property_ids=#{propertyIds}
      </if>
      <if test="status!=null and status!='' ">
        AND  status=#{status}
      </if>
      AND admin_id in(
      select t.id from kn_admin t where level=1 )
    </where>

    <if test="addTime!=null and addTime!='' ">
      ORDER BY add_time
    </if>
    <if test="click!=null and click!='' ">
      ORDER BY click DESC
    </if>
  </select>


  <!--<select id="selectManagementList" resultType="com.springmvc.pojo.DTO.knadmin2" parameterType="kn_admin" >-->
    <!--SELECT a.* ,b.role_name FROM `kn_admin` a  JOIN role_info b ON a.level=b.id  and  b.parentId=3-->
    <!--<if test="phone!=null and phone!='' ">-->
      <!--AND  phone  LIKE '%${phone}%'-->
    <!--</if>-->
    <!--ORDER BY login_time-->
  <!--</select>-->


  
  <select id="getDetailId" resultType="java.lang.Integer" parameterType="Integer">
    SELECT details_id FROM kn_goods WHERE id=#{id}


    </select>
    <!--模糊查找含有精选的商品-->
    <select id="queryByTagid" resultType="com.springmvc.pojo.KnGoods">
select g.* from kn_goods g WHERE tag_id LIKE '%4%'



  </select>
    <select id="queryGoodes" resultType="com.springmvc.pojo.KnGoods" parameterType="String">
      SELECT g.*
      FROM kn_goods g
      WHERE title LIKE '%${title}%'


    </select>

</mapper>